*.class
*.hprof
*.pyc
*.swp
*hs_err_pid*
*stdout.txt
*~
/AwsCredentials.properties
TAGS
bin/
build.local.conf
dist/
flatfile*
h2o_work.xml
ice
lib/h2o_core.jar
nbbuild.xml
nbproject/
po.*
private/
pytest_flatfile-*
sandbox
syn_datasets
target/
.settings/*
.idea/*
h2o.iml
*.eml
h2o-samples/h2o-samples.iml
experiments/experiments.iml
/libpeerconnection.log
src/main/java/water/BuildVersion.java
hadoop/build.log
.DS_Store
/.idea
.Rproj.user
lib/resources/R
lib/resources/steam
R/.RData
R/.Rhistory
R/tests/Rsandbox/
Rsandbox
h2o-perf/perf-target/*jar
semantic.cache
.Rhistory
junk.sh
.gradle/