*.class
*.hprof
*.pyc
*.swp
*_*.data
*_*.data
*hs_err_pid*
*stdout.txt
*~
bin/
binlib
build
flatfile*
h2o_work.xml
ice
lib/h2o_core.jar
po.*
pytest_flatfile-*
sandbox
dist/
build/
nbproject/
nbbuild.xml
TAGS
build.local.conf
/AwsCredentials.properties
private/
