body {
    height: 100%;
    padding-top: 60px;
}
.highlight {
    background-color: #ADFF2F;
}

.footer {
    background-color: #F5F5F5;
    margin-top: 120px;
    padding: 10px 0;
    text-align: center;
}

.footer p {
    color: #777777;
    margin-bottom: 0;
}

.footer-links {
    margin: 10px 0;
}

.footer-links li {
    display: inline;
    padding: 0 2px;
}

.footer-links li:first-child {
    padding-left: 0;
}

