REM Set up environment variables
set JAVA="@JAVA_PROG@"
set JAR_FILE="@H2O_JAR@"
set FLAT_FILE="@FLAT@"
set MEMORY="@MEM@"

REM Run H2O in the background
start "h2o" /B "%JAVA%" -Xmx"%MEMORY" -jar "%JAR_FILE%" -ip 127.0.0.1 -port 54321 -flatfile "%FLAT_FILE%"
