#!/bin/sh

# Set up environment variables
JAVA="@JAVA_PROG@"
JAR_FILE="@H2O_JAR@"
FLAT_FILE="@FLAT@"
MEMORY="@MEM@"

# Run H2O in the background
"${JAVA}" -Xmx"${MEMORY}" -jar "${JAR_FILE}" -ip 127.0.0.1 -port 54321 -flatfile "${FLAT_FILE}" 1> /tmp/h2olauncher.out 2> /tmp/h2olauncher.err
