exportPattern("^[[:alpha:]]+")
exportMethods(
    "colnames",
    "h2o.getTree",
    "h2o.glm",
    "h2o.kmeans",
    "h2o.randomForest",
    "h2o.prcomp",
	"h2o.checkClient",
    "h2o.importFile",
	"h2o.importFolder",
    "h2o.importURL",
    "h2o.parseRaw",
    "h2o.setColNames",
    "show",
    "summary",
    "plot"
)
exportClasses(
    "H2OClient",
     "H2OGLMModel",
     "H2OKMeansModel",
     "H2OParsedData",
     "H2OParsedData2",
     "H2ORawData",
     "H2ORForestModel",
      "H2OPCAModel",
    "H2OModel"
)
