exportPattern("^[[:alpha:]]+")
export('h2o.glm', 'h2o.kmeans', 'h2o.randomForest', 'h2o.prcomp', 'h2o.gbm', 'h2o.nn')
exportMethods(
  "colnames",
  "h2o.checkClient",
  "h2o.importFile",
  "h2o.importFolder",
  "h2o.importURL",
  "h2o.parseRaw",
  "show",
  "summary",
  "histograms",
  "plot"
)
exportClasses(
  "H2OClient",
  "H2OGLMModel",
  "H2OKMeansModel",
  "H2OParsedData",
  "H2ORawData",
  "H2ODRFModel",
  "H2OPCAModel",
  "H2OGBMModel",
  "H2OModel"
)
