// ko with:view
.y-main
  .y-navigation-bar
    .y-logo-area
      img(src='img/h2o.png' width='12%' style='position:relative; top:10px')
    .y-navigation-area

  .y-desktop
    .y-topic-lane
      .y-lane-header
        button.y-topic-button.btn.fa-btn(data-bind='click:toggleTopics')
          i.fa.fa-bars
        .y-topic-title(data-bind='text:topicTitle')
        button.y-upload-button.btn.fa-btn
          i.fa.fa-refresh

      // ko if:isModal
      .y-mask
      // /ko

      .y-lane-body(data-bind="template:{name:template, foreach:listViews}")

      // ko if:isListMasked
      .y-mask
      // /ko

    .y-workspace-lane
      .y-lane-header

      .y-lane-body
        .y-page-views(data-bind="template:{name:template, foreach:pageViews}")
        // ko if:isModal
        .y-modal-views(data-bind="template:{name:template, foreach:modalViews}")
        // /ko

      // ko if:isPageMasked
      .y-mask
      // /ko
        
    .y-help-lane
      .y-lane-header
      .y-lane-body

  .y-status-bar
// /ko
