// ko with:view
.y-main
  .y-navigation-bar
    .y-logo-area
    .y-navigation-area
  .y-desktop
    .y-topic-lane
      .y-lane-header
        button.y-topic-button.btn.fa-btn(data-bind='click:toggleTopics')
          span.fa.fa-bars
        .y-topic-title(data-bind='text:topicTitle')
        button.y-upload-button.btn.fa-btn
          span.fa.fa-refresh

      .y-lane-body

        // ko with:frameListView
        include frame-list-view
        // /ko

        // ko with:modelListView
        include model-list-view
        // /ko

        // ko if:isDisplayingTopics
        .y-topic-list-view
          // ko foreach:topics
          .y-topic(data-bind='click:display, text:title, css:{"y-disabled":isDisabled}')
          // /ko
        // /ko

    .y-workspace-lane
      .y-lane-header
      .y-lane-body

        // ko with:emptyView
        include empty-view
        // /ko

        // ko with:frameView
        include frame-view
        // /ko

        // ko with:modelView
        include model-view
        // /ko


      // ko if:isDisplayingTopics
      .y-lane-mask
      // /ko

      // ko with:modelSelectionView
      include model-selection-view
      // /ko
        
    .y-help-lane
      .y-lane-header
      .y-lane-body
  .y-status-bar
// /ko
