.y-model-selection-view
  // ko if:hasSelection
  .y-caption(data-bind='text:caption')
  button.btn.btn-primary(title='Score selected models' data-bind='click:scoreSelections') Score&hellip;
  button.btn(title='Clear selections' data-bind='click:clearSelections') Clear
  // /ko
