.y-model-view
  .y-tag Model
  .y-tagline(data-bind='text:key')
  h1.y-title(data-bind='text:title')
  .y-section(data-bind='geyser:summary')
  h2.y-subtitle Parameters
  .y-parameters(data-bind='geyser:parameters')
  h2.y-subtitle Input Column Names
  .y-input-column(data-bind='geyser:inputColumns')
  h2.y-subtitle Compatible Frames
  .y-models(data-bind='geyser:compatibleFrames')
  h2.y-subtitle(data-bind='collapse:true') JSON
  pre(data-bind='json:data')

