.y-model-selection-view
  .clearfix
    .y-tag Operations
    .y-tagline(data-bind='text:frameKey')
  h1.y-title(data-bind="text:caption")
  table.table.table-condensed.table-hover
    thead
      tr
        th Method
        th Category
        th Response Column
    tbody
      // ko foreach:selections
      tr
        td(data-bind='text:algorithm')
        td(data-bind='text:category')
        td(data-bind='text:responseColumn')
      // /ko
  div
    button.btn.btn-primary(data-bind="click:scoreModels, enable:canScore") Score Models
    button.btn(data-bind="click:cancel") Cancel
