.y-dialog-container
  .y-dialog.y-scoring-filter-dialog(data-dialog-width='500')
    .y-dialog-title-bar
      .y-dialog-title Filter Scorings
      .y-dialog-exit(data-bind='click:cancel')
        i.fa.fa-times 
    .y-dialog-body
      div(style='max-height:300px;overflow:auto')
        // ko foreach:filters
        div(style='margin-bottom:20px;border-bottom:1px solid #eee')
          h1(data-bind="text:caption, collapse:false")
          div
            // ko foreach:items
            .checkbox
              label
                input(type='checkbox' data-bind="checked:isChecked")
                span(data-bind="text:caption")
            // /ko
        // /ko
      .y-dialog-actions
        button.btn(data-bind='click:cancel') Cancel
        button.btn.btn-primary(data-bind='click:confirm') OK


