.y-scoring-view
  .clearfix
    .y-tag(data-bind='text:tag')
    .y-tagline(data-bind='timeago:timestamp')
  h1.y-title(data-bind="text:caption")

  // TODO remove this 'if' condition when model summary is fixed
  // ko if:modelSummary
  .y-model-summary
    .y-summary
      // ko foreach:modelSummary
      .y-summary-item
        .y-summary-key(data-bind='text:key')
        .y-summary-value(data-bind='text:value')
      // /ko
  // /ko

  // ko ifnot:hasFailed

  // ko if:isScoringView
  div(data-bind='geyser:comparisonTable')
  // /ko

  // ko if:isComparisonView

  .y-tabs
    a.y-tab(data-bind='click:switchToTabularView, css:{active:isTabularComparisonView}') Tabular View
    a.y-tab(data-bind='click:switchToAdvancedView, css:{active:isAdvancedComparisonView}') Advanced View

  // ko if:isTabularComparisonView
  div(data-bind='geyser:comparisonTable')
  // /ko
  // ko ifnot:isTabularComparisonView
  h2.y-subtitle(data-bind='collapse:false') ROC Comparison
  div(data-bind='geyser:multiRocPlot')
  h2.y-subtitle(data-bind='collapse:false') Output Comparison
  div(data-bind='geyser:stripPlot')
  // /ko
  // /ko

  // /ko

  // ko if:hasFailed
  h2.y-subtitle Scoring Failure
  pre(data-bind='json:failure')
  // /ko
