body
  font-family 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif

h1
  margin-top 5px

th
  text-transform uppercase
  font-weight 500
  font-size 12px
  color #888

pre
  border none
  border-radius 0

.btn
  border-radius 1px

