.fa-btn
  font-size 100%

table.table-kv
  th
    padding-right 5px
  td
    padding 0 5px

.y-mask
  dock()
  background white
  opacity 0.75

.y-middle
  display block
  position absolute
  top 40%
  left 0
  right 0
  text-align center
  color #aaa

.y-predicate
  dock-top(y-desktop-header-height)
  padding 7px 0 0 10px
  background rgba(y-color-yellow, 0.3)
  border-bottom 1px solid #ddd

.y-predicate-caption
  dock(7px, 24px, 0, 10px)
  font-size 11px
  line-height 13px
  text-transform uppercase
  text-align center
  overflow hidden

.y-predicate-clear
  dock-right(24px)
  line-height y-desktop-header-height
  margin 0
  padding 0
  background transparent
  &:hover
    color red
    background transparent
