.fa-btn
  font-size 100%

table.table-kv
  th
    padding-right 5px
  td
    padding 0 5px

.y-mask
  dock()
  background white
  opacity 0.75

.y-summary
  background #f5f5f5
  padding 5px 0

.y-summary-item
  display inline-block
  padding 10px

.y-summary-key
  text-transform uppercase
  font-size 11px
  color #888

.y-middle
  display block
  position absolute
  top 40%
  left 0
  right 0
  text-align center
  color #aaa

.y-predicate
  dock-top(y-desktop-header-height)
  padding 7px 0 0 10px
  background rgba(y-color-yellow, 0.3)
  border-bottom 1px solid #ddd

.y-predicate-caption
  dock(7px, 24px, 0, 10px)
  font-size 11px
  line-height 13px
  text-transform uppercase
  text-align center
  overflow hidden

.y-predicate-clear
  dock-right(24px)
  line-height y-desktop-header-height
  margin 0
  padding 0
  background transparent
  &:hover
    color red
    background transparent

.y-spinner-box
  block()
  left:50%
  top:50%
  
.y-spinner
  position absolute
  background-repeat: no-repeat

.y-spinner-16
  background-image url(../img/h2o-spin-16.gif)
  dock-top-left(16px, 16px, -16px/2, -16px/2)

.y-spinner-32
  background-image url(../img/h2o-spin-32.gif)
  dock-top-left(32px, 32px, -32px/2, -32px/2)

.y-spinner-48
  background-image url(../img/h2o-spin-48.gif)
  dock-top-left(48px, 48px, -48px/2, -48px/2)

.y-spinner-64
  background-image url(../img/h2o-spin-64.gif)
  dock-top-left(64px, 64px, -64px/2, -64px/2)
