.y-model-view
  .y-tag
    font-size 11px
    text-transform uppercase
    display inline-block
    background y-color-yellow
    padding 3px 5px

  .y-title
    font-size 36px
    font-weight 300

  .y-tagline
    color #888
    font-size 12px
    float right

  .y-subtitle
    font-size 22px
    font-weight 300
    margin-top 35px

  .y-input-columns
    max-height 200px
    overflow auto

  .y-variable-importance-chart
    .bar 
      fill #adadad
    .bar:hover 
      fill #888
    .bar-label, .dot-label
      font 10px sans-serif
    .dot
      fill red
      stroke none
      shape-rendering crispEdges
    .curve
      fill none
      stroke red
      stroke-width 1px
    .axis 
      font 10px sans-serif
    .axis path, .axis line 
      fill none
      stroke #000
      shape-rendering crispEdges
    .y.axis path 
      display none

