.y-model-view
  dock()
  padding 0 35px

  .y-tag
    font-size 11px
    text-transform uppercase
    display inline-block
    background y-color-yellow
    padding 3px 5px

  .y-title
    font-size 36px
    font-weight 300

  .y-subtitle
    font-size 22px
    font-weight 300


