.y-model-selection-view
  //TODO duplicated from views. Refactor.
  .y-tag
    font-size 11px
    text-transform uppercase
    display inline-block
    background y-color-yellow
    padding 3px 5px

  //TODO duplicated from views. Refactor.
  .y-title
    font-size 36px
    font-weight 300

  //TODO duplicated from views. Refactor.
  .y-tagline
    color #888
    font-size 12px
    float right



