.y-scoring-view
  padding 0 35px
  background white

  //TODO duplicated from views. Refactor.
  .y-tag
    font-size 11px
    text-transform uppercase
    display inline-block
    background y-color-yellow
    padding 3px 5px

  //TODO duplicated from views. Refactor.
  .y-tagline
    color #888
    font-size 12px
    float right

  //TODO duplicated from views. Refactor.
  .y-title
    font-size 36px
    font-weight 300

  //TODO duplicated from views. Refactor.
  .y-subtitle
    font-size 22px
    font-weight 300
    margin-top 35px

  .y-model-summary
    margin-bottom 15px
  
  .y-roc-curve
    font-size 10px
    color #888
    .axis
      fill none
      stroke #777
      shape-rendering crispEdges
    .dot
      fill #777
      stroke none
    .line
      fill none
      stroke #999
    .guide
      fill none
      stroke red

  .y-diff
    padding 0 5px
    background y-color-yellow
      
  // HACK
  .y-indent
    padding-left 20px !important



